
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ahr/
RewriteRule ^index\.php$ - [L]
RewriteRule ^.*shop/images/(\d+)/?\??(.*)$ /ahr/wp-content/plugins/shopp/core/image.php?siid=$1&$2 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ahr/index.php [L]
</IfModule>

# END WordPress
